<!-- ===== HEADER ===== -->
<header>
    <!-- Carrusel de fondo -->
    <div class="header-carousel">
        <div class="slide active" style="background-image:url('images/portada.png')"></div>
        <div class="slide" style="background-image:url('images/portada2.png')"></div>
        <div class="slide" style="background-image:url('images/img3.png')"></div>
    </div>

    <section class="textos-header">
        <div class="topnav">
            <h1>emenetPOS tu mejor opción</h1>
            <h2>Gestiona tus ventas, inventarios y más.</h2>
        </div>
    </section>

    <!-- Wave al final del header -->
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height:100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg>
    </div>
</header>

<!-- ===== SOBRE NOSOTROS SECTION ===== -->
<section class="contenedor sobre-nosotros">
    <div class="contenedor-sobre-nosotros">
        <img src="images/home.webp" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <h1>emenetPOS gestiona tus ventas, inventarios y más desde un solo lugar.</h1>
            <p>Somos distribuidores autorizados de MyBusiness POS.
Te ayudamos a administrar tu negocio de forma eficiente, desde tu primer día hasta el crecimiento de tu empresa, brindándote capacitación, seguimiento y soporte continuo.
Con emenetPOS, no solo adquieres un sistema, obtienes respaldo y acompañamiento para hacer crecer tu negocio.
            </p>
        </div>
    </div>
</section>
<!-- ===== SERVICIOS SECTION ===== -->
<section class="servicios">
    <div class="contenedor">
        <h2 class="titulo">Nuestros servicios</h2>
        <div class="servicio-cont">
            <div class="servicio-ind">
                <img src="images/giro.png" alt="">
                <h3>Giro de negocios</h3>
                <p>MyBusiness POS funciona en múltiples negocios, te mostramos cómo funciona en cada uno.</p>
                <div class="buttons-container">
                    <a [routerLink]="'/software'" class="btn-moderno">
                        <i class="fa-solid fa-circle-info"></i>
                        <span>Más información</span>
                    </a>
                </div>

            </div>

            <div class="servicio-ind">
                <img src="images/recargas.png" alt="">
                <h3>Recargas de tiempo aire</h3>
                <p>Aumentamos tus ganancias y flujo de clientes ofreciendo recargas y pago de servicios.</p>
                <div class="buttons-container">
                    <a [routerLink]="'/tiempo-aire'" class="btn-moderno">
                        <i class="fa-solid fa-circle-info"></i>
                        <span>Más información</span>
                    </a>
                </div>
            </div>
            <div class="servicio-ind">
                <img src="images/factura.png" alt="">
                <h3>Facturación electrónica</h3>
                <p>Emite tus CFDI directamente desde el sistema, sin procesos adicionales.</p>
                <div class="buttons-container">
                    <a [routerLink]="'/facturacion'" class="btn-moderno">
                        <i class="fa-solid fa-circle-info"></i>
                        <span>Más información</span>
                    </a>
                </div>
            </div>
            <div class="servicio-ind">
                <img src="images/corporativo.png" alt="">
                <h3>Todo a la medida</h3>
                <p>El único sistema de punto de venta que se adecúa a tu requerimiento particular o giro comercial.</p>
                <div class="buttons-container">
                    <a [routerLink]="'/modificaciones'" class="btn-moderno">
                        <i class="fa-solid fa-circle-info"></i>
                        <span>Más información</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===== MAS SOLUCIONES SECTION ===== -->
<section class="servicios">
    <div class="contenedor">
        <h2 class="titulo">Más soluciones para tu negocio</h2>
        <div class="servicio-cont">
            <div class="servicio-ind">
                <img src="images/tools.png" alt="">
                <h3>Control de Usuarios y Permisos</h3>
                <p>Asigna roles y permisos personalizados para mayor seguridad y control interno.</p>
                <div class="buttons-container">
                    <a [routerLink]="'/contacto'" class="btn-moderno">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span>Me interesa</span>
                    </a>
                </div>
            </div>
            <div class="servicio-ind">
                <img src="images/accesorios.png" alt="">
                <h3>Accesorios</h3>
                <p>También contamos con accesorios, consumibles y soporte técnico 
                    para que tu negocio siempre esté listo para vender.

                </p>
            <div class="buttons-container">
                    <a [routerLink]="'/accesorios'" class="btn-moderno">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span>Me interesa</span>
                    </a>
                </div>
            </div>
            <div class="servicio-ind">
                <img src="images/nube.png" alt="">
                <h3>Sincronización en la nube</h3>
                <p>Puedes instalar tu punto de venta en una o en todas tus sucursales y la información estará siempre sincronizada.</p>
                <div class="buttons-container">
                    <a [routerLink]="'/servicios-nube'" class="btn-moderno">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span>Me interesa</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>