*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo {
    color: #003796;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
header {
    width: 100%;
    height: 600%;
    background: #114d9c;
    background: -webkit-linear-gradient(to right, hsla(221, 95%, 50%, 0.459), hsla(188, 45%, 52%, 0.664)), url(/images/portada.png);
    background: linear-gradient(to right, hsla(235, 84%, 55%, 0.735), hsla(189, 70%, 41%, 0.664)), url(images/portada.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}
 nav > a:hover {
    text-decoration: underline;
 }

 header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#ffffff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Servicios*/
.servicios{
    background: #ffffff;
    padding-bottom: 50px;
}

.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 38%;
    text-align: center;
}

.servicio-ind img{
    width: 95%;
}

/*Pie de pagina*/
/* footer */

footer{
    background: #0068b2;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

/*Nosotros*/
main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 30%;
    
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}
