<footer>
    <div class="contenedor-footer">
        <div class="footer-logo">
            <img src="images/emenetLogoB.png" alt="Logo emenet">
        </div>

        <div class="content-foo">
            <i class="fa-regular fa-calendar-days"></i>
            <h4>Horarios de atención</h4>
            <p>Lunes a Viernes 09:00 am - 06:00 pm</p>
            <p>Sábados 09:00 am - 03:00 pm</p>
            <p>Chat Bot Disponible 24/7</p>
        </div>
        <div class="content-foo">
            <i class="fa-solid fa-user-group"></i>
            <h4>Atención al Cliente</h4>
            <p>Teléfono: 713 133 4557 Ext 33</p>
            <p>713 133 4557</p>
            <a href="https://www.facebook.com/profile.php?id=100040874925697"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"> <i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div class="content-foo">
            <i class="fa-regular fa-envelope"></i>
            <h4>Contáctanos</h4>
            <p>Teléfono: 713 133 4557 Ext 33</p>
            <p>Teléfono: 800 204 99 00</p>
            <p>Correo: clientes{{ "@" }}emenet.mx</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; 2026 emenet comunicaciones. | Todos los derechos reservados.</h2>
</footer>