<!-- ===== HEADER ===== -->
<header>
    <!-- Carrusel de fondo -->
    <div class="header-carousel">
        <div class="slide active" style="background-image:url('images/portada.png')"></div>
        <div class="slide" style="background-image:url('images/portada2.png')"></div>
        <div class="slide" style="background-image:url('images/img3.png')"></div>
    </div>

    <section class="textos-header">
        <div class="topnav">
            <h1>Accesorios emenetPOS</h1>
            <h2>Tenemos todo lo que necesitas para tu punto de venta</h2>
        </div>
    </section>

    <!-- Wave al final del header -->
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height:100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg>
    </div>  
</header>

<!-- ===== CIRCULAR GALLERY SECTION ===== -->
<section class="gallery-section">
    <div class="gallery-content">
        <h2 class="gallery-title">Explora Nuestros Productos</h2>
        <p class="gallery-description">Descubre nuestra amplia gama de accesorios para punto de venta</p>
        <div #galleryContainer class="gallery-container"></div>
    </div>
</section>

<!--==== VENTA ACCESORIOS SECTION ====-->
<section class="ventas-section">
    <div class="product-content">
        <h2 class="product-title">Tenemos todo para tu punto de venta</h2>
        <p class="product-description">Explora nuestro catalogo de accesorios</p>

    </div>
</section>